:root {
  --main-background-color: #141414;

  --main-first-color: #ffffff;
  --main-second-color: #000000;

  --link-color: #0078e7;
}

.canvas {
 	position: fixed;
    top: 0;
    right: 0;
   	bottom: 0;
    left: 0;
    z-index: -1
}

html, body {
	width:100%;
	margin: 0;
	padding: 0;

	font-family: monospace;
	font-weight: 400;
	font-size: 12pt;
	color: var(--main-first-color);

	text-align: center;
}

body {
	background-color: var(--main-background-color);
}

a {
	cursor: pointer;
	color: var(--link-color);
}

.marginTop {
	margin-top: 64px;
}

.marginTopBig {
	margin-top: 128px;
}

.personal_img {
	width: 200px;
	height: 200px;

	max-height: 30vh;

	border: 4px solid var(--main-first-color);
	border-radius: 100%;

	background-color: rgba(255, 255, 255, 0.1);
}

.text_title {
	font-size: 2.8em;
	font-weight: bold;
}

/* https://codepen.io/kevinpowell/pen/YzqerQm */
.text_subtitle {
	font-size: 6rem;
	font-weight: 700;
	position: relative;

	text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
		-0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
		0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

	animation: text_subtitle 500ms infinite;
}

.text_subtitle span {
	position: absolute;
	top: 0;
	left: 0;
}

.text_subtitle span:first-child {
	animation: text_subtitle 650ms infinite;
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
	transform: translate(-0.025em, -0.0125em);
	/* color: green; */
	opacity: 0.8;
}

.text_subtitle span:last-child {
	animation: text_subtitle 375ms infinite;
	clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
	transform: translate(0.0125em, 0.025em);
	/* color: red; */
	opacity: 0.8;
}
    
@keyframes text_subtitle {
	0% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
		-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	14% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
		-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	15% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
		0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
		-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	49% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
		0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
		-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	50% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
		0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	99% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
		0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	100% {
		text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
		-0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
		-0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
}
  
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}

.social_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.div_social {
	margin: 8px 16px;
	padding: 8px;
}

.div_social a {
	font-size: 1.1em;
	color: var(--main-first-color);
	text-decoration: none;
}

.social_img {
	width: 100px;
	height: auto;
}

.social_text {
	margin-top: 8px;
}

.contect_projects {
	margin: 64px 0;
	padding: 16px 8px;
	
	border-top: 2px solid var(--main-first-color);
	border-bottom: 2px solid var(--main-first-color);

	background-color: rgba(255, 255, 255, 0.1);
}

.cmd {
	font-size: 1.3em;
	text-align: left;

	color: var(--main-first-color);
}

.cmd_col {
	color: var(--link-color);
}

.cmd_cd {
	font-weight: bold;
}

.projects_title {
	font-size: 1.8em;
}

.project {
	margin-bottom: 32px;
}

.separator {
	width: 100%;
	margin:auto;

    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-top: 0.1em dashed var(--main-first-color);
}

.separator::before {
    margin-right: 0.25em;
}

.separator::after {
    margin-left: 0.25em;
}

.projects_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.div_project {
	margin: 8px;
	max-width: 500px;
}

.div_project_games {
	max-width: 350px;
}

.project_card {
	background-color: var(--main-first-color);
	color: var(--main-second-color);

	border-radius: 6px;

	height: 100%;
}

.project_card img {	
	display: block;

    width: 100%;
    height: 350px;
    
    object-fit: cover;

	border-radius: 5px 5px 0 0;
}

.project_text {
	padding: 4px 8px;
}

.project_title {
	font-size: 1.5em;
	font-weight: bold;
}

.project_description {
	margin-top: 8px;
	font-size: 1.1em;
	text-align: justify;
}